.projects-page {
  padding: 220px 0 65px;

  & .projects {
    padding: 24px 0 80px;

    & .projects__list {
      margin-bottom: 0;
      row-gap: 32px;
    }
  }
}

.selectors {
  display: flex;
  gap: 16px;
}

.filters-block {
  display: flex;
  justify-content: space-between;
}

.reset-selectors__button {
  padding: 8px 16px;
  color: #8e3a1b;
}
