.projects-page {
  padding: 220px 0 65px;

  & .projects {
    padding: 24px 0 80px;

    & .projects__list {
      margin-bottom: 0;
      row-gap: 32px;
    }
  }
}

.selectors {
  display: flex;
  gap: 16px;
}

.filters-block {
  display: flex;
  justify-content: space-between;
}

.reset-selectors__button {
  padding: 8px 16px;
  color: #8E3A1B;
}

.projects-cta {
  padding-block: 32px;
  background-color: #E5E6E6;
}

.cta__title {
  margin-bottom: 24px;
}

.cta__text {
  margin-bottom: 137px;
}

.cta__poster {
  grid-row: 1/4;
  background-image: url('../../assets/images/projects-page/cta-poster.png');
}

.cta__button {
  height: 56px;
}