@import './base/_reset';
@import './base/_variables';
@import './base/_mixins';
@import './base/_typography';
@import './base/_grid';

@import '../components/Header/Header';
@import '../components/Footer/Footer';
@import '../pages/Contacts/ContactForm/ContactForm';
@import '../pages/Contacts/ContactInfo/ContactInfo';
@import '../components/Selector/Selector';
@import '../components/ProjectCard/ProjectCard';
@import '../pages/Portfolio/PortfolioCta/PortfolioCta';
@import '../pages/Services/ServicesCta/ServicesCta';
@import '../pages/Services/ServiceList/ServiceList';
@import '../pages/Services/ServiceItem/ServiceItem';
@import '../pages/Services/ServiceContentList/ServiceContentList';
@import '../pages/Services/ServiceContentItem/ServiceContentItem';
@import '../pages/Blog/BlogPostCta/BlogPostCta';
@import '../pages/Blog/BlogCard/BlogCard';
@import '../pages/Blog/BlogList/BlogList';
@import '../pages/Blog/BlogPostSection/BlogPostSection';
@import '../components/UI/MainLogo/MainLogo';
@import '../components/UI/Breadcrumb/Breadcrumb';
@import '../components/UI/SectionTop/SectionTop';
@import '../components/UI/DropdownButton/DropdownButton';
@import '../pages/Portfolio/ProjectPage/ProjectPage';
@import '../pages/Home/HomePage/HomePage';
@import '../pages/Portfolio/PortfolioPage/PortfolioPage';
@import '../pages/Services/ServicesPage/ServicesPage';
@import '../pages/Blog/BlogPage/BlogPage';
@import '../pages/Contacts/ContactsPage/ContactsPage';
@import '../pages/Blog/BlogPostPage/BlogPostPage';

body {
  @include text-style($fs-main, 400, $lh-150);
  background-color: #fafafa;
}

.page {
  padding: 220px 0 80px;
}

.container {
  margin: 0 auto;
  padding-inline: 56px;
  max-width: 1440px;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  border-radius: 2px;
  color: #fff;
  background-color: #8e3a1b;
}
