@import '../../../styles/abstracts/_variables';

.cta-button-primary {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 320px;
  background-color: $accent-color;
  color: $white;
  border-radius: 2px;
}