h1.bold {
  font-size: 48;
  font-weight: 700;
  line-height: 135%;
}

h1.medium {
  font-size: 48;
  font-weight: 500;
  line-height: 120%;
}

h2 {
  font-size: 40;
  font-weight: 500;
  line-height: 120%;
}

h3 {
  font-size: 32;
  font-weight: 600;
  line-height: 130%;
}

h4.bold {
  font-size: 24;
  font-weight: 700;
  line-height: 130%;
}

h4.regular {
  font-size: 24;
  font-weight: 400;
  line-height: 130%;
}

.main-text.regular {
  font-size: 18;
  font-weight: 400;
  line-height: 150%;
}