.mainLogo {
  display: block;
  width: 96px;
  height: 99px;
  background-image: url('../../../assets/icons/main-logo-header.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}