@import '../../../styles/abstracts/_variables';

.section-header {
  margin-bottom: 50px;
  color: $gray-80;
}

.section-header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray-40;
}

.section-header__title {
  color: $gray-100;
}
