@import '../../../styles/abstracts/_variables';

.sectionHeader {
  margin-bottom: 50px;
  color: $gray-80;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray-40;
}

.title {
  color: $gray-100;
}
