.blog-card-page__main-poster {
  margin-bottom: 24px;
}

.blog-card-page__text-content {
  margin-bottom: 48px;
}

.blog-card-page__title {
  margin-bottom: 16px;
}

.blog-card__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}