.projects-cta {
  padding-block: 32px;
  background-color: #e5e6e6;
}

.projects-cta .cta__title {
  margin-bottom: 24px;
}

.projects-cta .cta__text {
  margin-bottom: 137px;
}

.projects-cta .cta__poster {
  grid-row: 1/4;
  background-image: url('../../../assets/images/portfolio/cta-poster.png');
}

.projects-cta .cta__button {
  height: 56px;
}
