.header {
  width: 100%;
  padding-block: 8px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  margin-inline: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}