.projects__item {
  position: relative;
  height: 437px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 68px;
    backdrop-filter: blur(3px);
  }
}

.natural-flow {
  background-image: url('../../assets/images/portfolio/natural-flow.png');
}

.soft-minimal {
  background-image: url('../../assets/images/portfolio/soft-minimal.jpg');
}

.dark-balance {
  height: 575px;
  background-image: url('../../assets/images/portfolio/dark-balance.png');
}

.eco-horizon {
  background-image: url('../../assets/images/portfolio/eco-horizon.png');
}

.stone-\26 -wood {
  background-image: url('../../assets/images/portfolio/stone-&-wood.png');
}

.projects-item__title {
  margin-left: 32px;
  color: #ffffff;
}

.projects-item__link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
}

.right__arrow-icon {
  margin-right: 32px;
  height: 32px;
  width: 32px;
  background-image: url('../../assets/icons/arrow-narrow-right-big-white.svg');
}
