.blog-post-cta-section {
  padding-block: 32px;
  background-color: $gray-20;
}

.blog-post-cta__image {
  background-image: url('../../../../assets/images/Blog/blog-1.png');
}

.blog-post-cta__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .blog-post-cta__title {
    margin-bottom: 8px;
  }

  & .blog-post-cta__text {
    margin-bottom: 131px;
  }
}
